h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#span1{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: rgb(16, 0, 0);
    background-color: rgb(154, 121, 184);
    font-size: 20px;
    line-height: 30px;
}

img{
    height: 300px;
    margin-left: 500px;
}
#span2{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ec1010;
}
h1 span{
    font-weight: bold;
    color: #ec1010;
}
a{
    
    text-decoration: none;
    font-family: Arial;
    color: #000;
    background-color: #ec1010;
    width: 200px;
    height: 50px;
    display: block;
    text-align: center;
    line-height: 50px;
    border-radius: 0px 50px 0px 50px;
}